<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Jeu - Flower 4</title>
  <link rel="stylesheet" href="/static/stylegame.css">
</head>

<body>
  <div class="container">

    <div class="toolbar">
      <button onclick="location.href='/'">⟵ Menu</button>
      <form method="post" action="/reset"><button type="submit">Réinitialiser</button></form>
    </div>

    {{if not .GameOver}}
    <div class="statut">Tour: Joueur {{.Current}} </div>
    {{else}}
    <div class="statut">Partie terminée</div>
    {{end}}

    <div class="cols">
      {{range .Cols}}
      <form method="post" action="/play">
        <input type="hidden" name="col" value="{{.}}">
        <button class="colsbouton" type="submit" {{if $.GameOver}}disabled{{end}}>▼</button>
      </form>
      {{end}}
    </div>

    <div class="grid">
      {{range $r, $row := .Grid}}
      {{range $c, $v := $row}}
      <div class="case{{if eq $v 1}} p1{{else if eq $v 2}} p2{{end}}"></div>
      {{end}}
      {{end}}
    </div>

    {{if .Message}}<div class="statut">{{.Message}}</div>{{end}}
  </div>
</body>

</html>