<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Puissance 4</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1> Puissance 4 </h1>

        <div class="buttons">
            <button class="play">Jouer</button>
            <button class="rules" onclick="location.href='regles.html'">Règles</button>
            <button class="quit">Quitter</button>
        </div>
    </div>
</body>
</html>
