/* --- Style global --- */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* --- Conteneur principal --- */
.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 5% 10%;
    border-radius: 2em;
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.3);
}

/* --- Titre --- */
h1 {
    font-size: 3rem;
    margin-bottom: 5%;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}

/* --- Boutons --- */
.buttons button {
    display: block;
    width: 60%;
    margin: 2% auto;
    padding: 1em 0;
    font-size: 1.2rem;
    border: none;
    border-radius: 0.8em;
    cursor: pointer;
    transition: 0.3s;
}

.play {
    background-color: hsla(56, 100%, 50%, 0.984);
    color: white;
}

.play:hover {
    background-color: #fffffd;
    color: #e80cd9;
}

.quit {
    background-color: #d63031;
    color: white;
}

.quit:hover {
    background-color: #ff7675;
}

.rules{
    background-color: #0119ef;
    color: white;
}

.rules:hover {
    background-color: #00cec9;
}

