body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url(/static/Background.png);
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
    overflow: hidden
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 55px rgba(0, 0, 0, 0.3);
    overflow: auto
}

/*boutons*/
.buttons button {
    display: block;
    width: 100%;
    margin: 10px auto;
    padding: 20px auto;
    font-size: 1.2rem;
    border: none;
    border-radius: 10%;
    cursor: pointer;
    transition: 0.3s;
}

.cols {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 6px;
    margin: 1rem auto
}

.colsbouton {
    height: 90%;
    cursor: pointer
}

.grid {
    display: grid;
    width: 80vw;
    max-width: 700px;
    height: 60vh;
    grid-template-columns: repeat(7, 1fr);
    /*7 colonne égale avec 1fraction = prend chacun 1 fraction dispo pour compléter l'espace*/
    gap: 1vw;
    background: #317AC1;
    padding: 1vw;
    border-radius: 10px;
    margin: 0 auto;
    align-items: center;
    justify-items: center;
}

.case {
    aspect-ratio: 1.1;
    /*force la case à etre carré */
    height: 100%;
    border-radius: 50%;
    background: #e9ecefc0;
}


.p1 {
    background-image: url(/static/348.jpg);
    background-size: cover;
    background-position: center;
}

.p2 {
    background-image: url(/static/rose.jpg);
    background-size: cover;
    background-position: center;
}

.statut {
    margin-top: 1.2%;
    text-align: center;
    font-weight: bold
}

.toolbar {
    display: flex;
    gap: 0.8%;
    margin: 1% 0;
    justify-content: center
}